{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
	{% for app in app_list %}
		<div class="app-{{ app.app_label }} module">
		<table>
		<caption>
			<a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
		</caption>
		{% for model in app.models %}
			<tr class="model-{{ model.object_name|lower }}">
			{% if model.object_name == 'AccountSelling' %}
				{% if user.is_superuser or perms.crm.view_accountselling %}
					<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
					<td><a href="{{ model.add_url }}" class="selllink">{% trans 'Sell' %}</a></td>
					<td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
				{% else %}
					<th scope="row">{{ model.name }}</th>
					<td><a href="{{ model.add_url }}" class="selllink">{% trans 'Sell' %}</a></td>
					<td>&nbsp;</td>
				{% endif %}
			{% else %}
				{% if model.admin_url %}
					<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
				{% else %}
					<th scope="row">{{ model.name }}</th>
				{% endif %}

				{% if model.add_url %}
					<td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
				{% else %}
					<td>&nbsp;</td>
				{% endif %}

				{% if model.admin_url %}
					{% if model.view_only %}
					<td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
					{% else %}
					<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
					{% endif %}
				{% else %}
					<td>&nbsp;</td>
				{% endif %}
			{% endif %}
			</tr>
		{% endfor %}
		</table>
		</div>
	{% endfor %}
{% else %}
	<p>{% trans "You don't have permission to view or edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
	<div class="module" id="recent-actions-module">
		<h2>{% trans 'Recent actions' %}</h2>
		<h3>{% trans 'My actions' %}</h3>
			{% load log %}
			{% get_admin_log 10 as admin_log for_user user %}
			{% if not admin_log %}
			<p>{% trans 'None available' %}</p>
			{% else %}
			<ul class="actionlist">
			{% for entry in admin_log %}
			<li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
				{% if entry.is_deletion or not entry.get_admin_url %}
					{{ entry.object_repr }}
				{% else %}
					<a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
				{% endif %}
				<br>
				{% if entry.content_type %}
					<span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
				{% else %}
					<span class="mini quiet">{% trans 'Unknown content' %}</span>
				{% endif %}
			</li>
			{% endfor %}
			</ul>
			{% endif %}
	</div>
</div>

{% endblock %}
