{% load i18n admin_urls static %}
<div class="js-inline-admin-formset inline-group"
		 id="{{ inline_admin_formset.formset.prefix }}-group"
		 data-inline-type="stacked"
		 data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
<fieldset class="module {{ inline_admin_formset.classes }}">
	<h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}

<style>
.inline-images-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.inline-image-element {
	display: block;
	flex-grow: 0;
	{#border: 1px solid red;#}
	min-width: 200px;
	max-width: 600px;
	height: 400px;
	text-align: center;
	margin: 10px;
	background-color: lightgray;
}
.inline-image-element:hover .inline-image-header {
	display: block;
	text-align: left;
	position: absolute;
	background-color: white;
	box-sizing:border-box;
}
.inline-image-header {
	display: none;
}
.inline-image-itself {
	height: 100%;
	max-width: 100%;
}
.inline-image-label {
	box-sizing:border-box;
	display: block;
	height: 400px;
	width: 200px;
	background: url("/static/crm/img/add-button-white.svg") center center no-repeat;
	cursor: pointer;
}


</style>

<div class="inline-images-wrapper" id="inline-images-wrapper">

{% for inline_admin_form in inline_admin_formset %}
{% if inline_admin_form.original %}
<div class="inline-image-element">
	<h3 class="inline-image-header">
		{% if inline_admin_formset.formset.can_delete %}
			<span class="inline-image-delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}</span>
		{% endif %}
		<br/>
	</h3>
	{% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}

	{% for fieldset in inline_admin_form %}
		{% for line in fieldset %}
			{% for field in line %}
				{% if field.field.name == 'preview' %}
					{{ field.contents }}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}

	{% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
	{% if inline_admin_form.fk_field %}{{ inline_admin_form.fk_field.field }}{% endif %}
{% endif %}
</div>
{% endfor %}
</div>

<script type="text/javascript">
(function () {
	window.IMAGES_INLINE_CONFIG = {
		url: '{%  url 'admin:crm_document_upload_images_ajax' %}',
		document_id: '{{ object_id }}'
	};
})();
</script>


<div id="dropzone" class="dropzone">&nbsp;</div>
</fieldset>
</div>
