{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% block content_title %}{% if title %}<h1>{{  opts.verbose_name }}</h1>{% endif %}{% endblock %}


{% block content %}
<div id="content-main">

<form action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">
{% csrf_token %}
<div>
<label for="user-to-sent">Выберите {{ role_to_assign }}</label>
<select id="user-to-sent" name="user_to_sent">
	{% for user in users %}
		<option value="{{ user.id }}">{{ user.last_name }} {{ user.first_name }} ({{ user.username }})</option>
	{% endfor %}
</select>
</div>

<div>
Выбраны следующие документы:
<ul>
	{% for doc in documents %}
		<li>{{ doc.id }}. {{ doc.name }} ({{ doc.bet_country }})</li>
	{% endfor %}
</ul>
</div>

<button type="submit">Назначить</button>
</form>
</div>
{% endblock %}
