{% load i18n static %}
<h3>{% trans 'Counting range' %}</h3>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
<style>
	.button, input[type=submit], input[type=button], .submit-row input, a.button,
	.button, input[type=reset] {
		padding: 4px 5px;
		border: none;
		border-radius: 4px;
		color: #fff;
		cursor: pointer;
	}
	.admindatefilter {
		padding-left: 15px;
		padding-bottom: 10px;
		border-bottom: 1px solid #eaeaea;
	}
	.admindatefilter p {
		padding-left: 0px;
		line-height: 0;
	}
	.admindatefilter p.datetime {
		line-height: 0;
	}
	.admindatefilter .timezonewarning {
		display: none;
	}
	.admindatefilter .datetimeshortcuts a:first-child {
		margin-right: 4px;
		display: none;
	}
	.calendarbox {
		z-index: 1100;
	}
	.clockbox {
		z-index: 1100;
		margin-left: -8em !important;
		margin-top: 5em !important;
	}
	.admindatefilter .datetimeshortcuts {
		font-size: 0;
		float: right;
		position: absolute;
		padding-top: 4px;
	}
	.admindatefilter a {
		color: #999;
		position: absolute;
		padding-top: 3px;
		padding-left: 4px;
	}
	.filter_hrefs {
		margin-bottom: 10px;
	}
	.filter_hrefs a {
		position: relative;
	}
	#changelist-filter .filter_hrefs a.selected {
		color: #79aec8;
	}
	@media (min-width: 768px) {
		.calendarbox {
			margin-left: -16em !important;
			margin-top: 9em !important;
		}
	}
	@media (max-width: 767px) {
		.calendarbox {
			overflow: visible;
		}
	}
</style>
<!--
Force load jsi18n, issues #5
https://github.com/django/django/blob/stable/1.10.x/django/contrib/admin/templates/admin/change_list.html#L7
-->
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script>
	function datefilter_apply(event, qs_name, form_name){
		event.preventDefault();
		var query_string = django.jQuery('input#'+qs_name).val();
		var form_data = django.jQuery('#'+form_name).serialize();
		window.location = window.location.pathname + query_string + '&' + form_data;
	}
	function datefilter_reset(qs_name){
		var query_string = django.jQuery('input#'+qs_name).val();
		window.location = window.location.pathname + query_string;
	}
</script>
<script>
	django.jQuery('document').ready(function () {
		if (!('DateTimeShortcuts' in window)) {
			django.jQuery.when(
				{% for m in spec.form.js %}
					django.jQuery.getScript('{{m}}'),
				{% endfor %}
				django.jQuery.Deferred(function( deferred ){
					django.jQuery( deferred.resolve );
				})
			).done(function(){
				django.jQuery('.datetimeshortcuts').remove();
				DateTimeShortcuts.init();
			});
		}
	});
</script>
<div class="admindatefilter">
{% with system_name=choices.0.system_name query_string=choices.0.query_string hrefs=choices.0.hrefs %}
	<div class="filter_hrefs">
	{% for choice in hrefs %}
		<div><a href="{{ choice.query_string|iriencode }}"
				{% if choice.selected %}class="selected"{% endif %}>{{ choice.display }}</a></div>
	{% endfor %}
	</div>

	<form method="GET" action="." id="{{ system_name }}-form">
		{{ spec.form.as_p }}
		<input type="hidden" id="{{ system_name }}-query-string" value="{{ query_string }}">
		<div class="controls">
			<input type="submit" value="{% trans "Search" %}" onclick="datefilter_apply(event, '{{ system_name }}-query-string', '{{ system_name }}-form')">
			<input type="reset" class="button" value="{% trans "Reset" %}" onclick="datefilter_reset('{{ system_name }}-query-string')">
		</div>
	</form>
{% endwith %}
</div>
