#header { background-color: #14805e; }
#branding h1, #branding h1 a:link, #branding h1 a {color: white; font-weight: bold;}
div.breadcrumbs {background: #474747; color: #f5dd5d;}
.object-tools a:link, .object-tools a:visited { background-color: #14805e;}
.module h2, .module caption, .inline-group h2 { background: #474747;}
.button, input[type="submit"], input[type="button"], .submit-row input, a.button {background: #14805e;}
.button, input[type="submit"], input[type="button"], .submit-row input, a.button, .button, input[type="reset"] { background: #14805e;}
.button.default, input[type="submit"].default, .submit-row input.default { font-weight: 600; background: #14805e;}
.button:active, input[type="submit"]:active, input[type="button"]:active, .button:focus, input[type="submit"]:focus, input[type="button"]:focus, .button:hover, input[type="submit"]:hover, input[type="button"]:hover { background: #69b689;}
.button.default:active, input[type="submit"].default:active, .button.default:focus, input[type="submit"].default:focus, .button.default:hover, input[type="submit"].default:hover { background: #429d74;}
a:link, a:visited { color: #474747;}
#user-tools strong { color: #f5dd5d; font-weight: 600; }

.AT_VERIFICATION { background-color: white;}
.SOLD { background-color: #fff07d;}
.READY { background-color: #7bb8a5;}
.SENT_VIP { background-color: #e4a6ce;}
.WAIT_VIP { background-color: #85a5ff;}
.DISMISSED { background-color: wheat;}
.BANNED { background-color: #ff8c8c;}
.REMOVED { background-color: #bbbbbb;}
.OTHER { background-color: mintcream;}

.selllink, .inlineselllink {
    padding-left: 16px;
    background: url(../img/icon-email-send.svg) 0 1px no-repeat;
}

.proxy-duration-default { color: #000000; }
.proxy-duration-lost { color: #103263;}
.proxy-duration-warning { color: #ffeda3;  font-weight: 600;}
.proxy-duration-critical { color: #FF0000; font-weight: 600; }
.proxy-duration-critical::after {
    content: " ";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0;
    margin-left: 6px;
    background: url(../img/icon-alert-red.svg) 0 1px no-repeat;
}
