{% load i18n admin_urls %}
<div class="submit-row">
{% block submit-row %}

	{% if show_save %}
		{% if add %}
			<input type="submit" value="{% trans 'Sent to customer' %}" class="default" name="_save">
		{% else %}
			<input type="submit" value="{% trans 'Save without sending' %}" class="default" name="_save">
		{% endif %}
	{% endif %}

	{% if show_delete_link and original and not add%}
		{% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
		<p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Delete" %}</a></p>
	{% endif %}

	{% if show_save_as_new %}
		<input type="submit" value="{% trans 'Save and resend to customer' %}" name="_saveasnew">
	{% endif %}

	{% if show_close %}<a href="{% url opts|admin_urlname:'changelist' %}" class="closelink">{% trans 'Close' %}</a>{% endif %}
{% endblock %}
</div>
